<div class="colm-form">
  <div class="form-container">
    <input class="route-button" name="email" type="email" placeholder="Email" [(ngModel)]="usuario.email" />
    <input class="route-button" type="password" placeholder="Contraseña" [(ngModel)]="usuario.password" />

    <button class="route-button" (click)="Login()">Ok</button>

    <div>
      <button type="button" class="route-button" (click)="relleno1()">Usuario 1</button>
      <button type="button" class="route-button" (click)="relleno2()">Usuario 2</button>
      <button type="button" class="route-button" (click)="relleno3()">Usuario 3</button>
    </div>
  </div>
</div>