<h1 class="">Javier Mendoza</h1>
<router-outlet />
<button class="btn btn-dark">Boton</button>

<br /><br /><br />

<app-bienvenida></app-bienvenida>

<app-error></app-error>

<app-login></app-login>





<!-- Ejercicio 1
<h1 class="student_name">Javier Mendoza</h1>

<h1>{{ materia }}</h1>

<form>
  <div>
    <label for="edadUnoIngreso" class="form-label">Edad Uno:</label>
    <input type="number" class="form-control" id="edadUnoIngreso" [(ngModel)]="edadUno" name="edadUno">
  </div>

  <div>
    <label for="edadDosIngreso" class="form-label">Edad Dos:</label>
    <input type="number" class="form-control" id="edadDosIngreso" [(ngModel)]="edadDos" name="edadDos">
  </div>

<button (click)="calcular()" class="btn btn-primary">Calcular</button>
<button (click)="limpiar()" class="btn btn-primary">Limpiar</button>
</form>
<div>
  Promedio:{{promedio}}
</div>


<router-outlet /> -->
















<!-- {{ title }}

<br><br><br><br>

<input type = "text" [(ngModel)]="title">

<button (click)="onBtn()">
  Cambiar title
</button>

<router-outlet /> -->
