body {
  background: radial-gradient(circle, rgb(154, 0, 0) 40%, #5a000b);
  margin: 0;
  /* Elimina el margen predeterminado */
  height: 83.5vh;
  /* Establece la altura al 100% de la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 300px;
  height: 600px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  margin: 0 auto;
}

.centrar {
  font-size: 25px;
  color: white;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Agrega flex-direction: column; */
}

.centrarGanar {
  font-size: 25px;
  text-align: center;
  background: radial-gradient(circle, rgb(154, 0, 0) 40%, #5a000b);
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 25px;
  max-width: 600px;
  margin: 0 auto;
  width: 85%;
  margin-top: 50%;
}

.autosSuperados {
  font-size: 25px;
  color: white;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .perder {
  padding-top: 20px;
  font-size: 25px;
  color: white;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.perder {
  flex: 0 0 40%;
  font-size: 25px;
  text-align: center;
  background: radial-gradient(circle, rgb(154, 0, 0) 40%, #5a000b);
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 25px;
  max-width: 600px;
  margin: 0 auto;
  width: 50%;
}

.car {
  width: 100px;
  height: 150px;
  background-color: red;
  position: absolute;
  bottom: 0;
}

.obstacle {
  width: 100px;
  height: 150px;
  background-color: blue;
  position: absolute;
  left: 0;
}






.card {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #a60000;
  border-width: 3px;
}

.card-body {
  padding: 1rem;
}

.card-title {
  color: #a60000;
}

button {
  margin: 5px;
  padding: 5px;
  padding-inline: 15px;
  color: white;
  border-radius: 6px;
  border-width: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  background: radial-gradient(circle at top right, #5a000b 40%, rgb(154, 0, 0));
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #000000;
}


div.cuadro {
  width: 150px;
  height: 200px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.numero {
  font-size: 40px;
  font-weight: 700;
  padding: 35px;
}

.numero-esquina-top,
.numero-esquina-bottom {
  font-size: 24px;
  /* Tamaño de los números de las esquinas */
  font-weight: bold;
  color: black;
  position: absolute;
}

.numero-esquina-top {
  top: 5px;
  /* Posición en la esquina superior izquierda */
  left: 5px;
}

.numero-esquina-bottom {
  bottom: 5px;
  /* Posición en la esquina inferior derecha */
  right: 5px;
}

.marco {
  width: 140px;
  height: 190px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.cuadro {
  width: 80%;
  /* Ancho del cuadrado interno */
  height: 80%;
  /* Altura del cuadrado interno */
  border: 1px solid black;
  /* Estilo del borde del cuadrado interno */
  position: relative;
  /* Posición relativa para posicionar el contenido dentro */
}
