<body>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="parent">
          <div class="div1">
            <p>Alumno: Javier Mendoza</p>
            <p>Division: A141-1</p>

          </div>
          <br>
          <img class="div2" src="../../assets/imagenMia.jpeg" width="150" height="150">
          <div class="div3">
            <p>Soy alumno de Laboratorio IV</p>
            <p>Mi juego propio es acerca de una carrera de F1.
            </p>
            <p>Son 21 competidores y para poder ganar, el piloto debe pasarlos a todos.

            </p>
            <p>¡¡Ten cuidado que si chocas, perdes!!
            </p>
            <p> Suerte.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
