body {
  background-color: rgb(79, 2, 36);
  width: 100%;
  height: 100%;
}

.route-button {
  color: white;
  border: 1px solid white;
  background-color: black;
  font-size: 20px;
}

.route-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.titulo {
  margin-bottom: 1%;
  font-size: 36px;
  color: white;
  text-align: left;
  margin-left: 5%;
}

.contenedor {
  width: 70%;
  position: absolute;
  width: 100%;
  height: 83%;
  background: radial-gradient(circle, rgb(154, 0, 0) 40%, #5a000b);
}

.divBotones {
  margin-top: 1%;
}

@media screen and (max-width: 600px) {
  .nav-buttons {
    flex-direction: column;
    align-items: center;
  }
}
