<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Título</title>
  <link rel="stylesheet" href="home.component.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="contenedor">
    <div *ngIf="!(userLogged|async) as user; else elseBlock">
      <app-login></app-login>
    </div>

    <ng-template #elseBlock>
      <div class="titulo">Home</div>
    </ng-template>
  </div>
</body>

</html>

<!-- <div>
  <div *ngIf="!(userLogged|async) as user; else elseBlock">
    <app-login></app-login>
  </div>

  <ng-template #elseBlock>
    <div class="titulo">Home</div>
  </ng-template>
</div>> -->
